/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

h1, h2{
    font-family:'Noto Serif Display', 'sans-serif'
}

html{
    scroll-behavior: smooth;
}
button{
    background: rgba(255,134,0,255);
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 2px;
}
span{
    color: rgba(255,134,0,255);
    font-weight: 700;
}

body {
background-image: url(/images/background-burger.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;


}
.marginFix{
    margin: 0 7%;
    
}

a{
    text-decoration: none;
}
/******************************************
/* LAYOUT
/*******************************************/
main{
    background-image: url(/images/section1-burger.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    
    background-size: 100%;
    
}
main > img{
    float: left; 
    width: 10%;
}
.header{
    display: flex;
    justify-content: space-between;
padding-top: 2%;
    margin: 2% 5% auto;
    
}

.header ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: auto;

    margin-right: 1%;
    width: 40%;
}
.header li{
    margin: auto 1%;
    
  
}
.header a{
    color: lightgrey;
    font-weight: 800;
}
a:hover{
    color: black;
}

/* first section styles */
.top{
    margin-left: 5%;
    width: 30%;
    padding: 10% 0;
   
    margin-bottom: 8%;
}


.top input{
    margin: 5% 1% 5%;
    background: url(/images/search.png), white;
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 2%  50%;
    padding-left: 6%;
    object-fit: cover;
    outline: none;
    border: none;
    width: 60%;
    height: 2em;
}
.top button{
    height: 2em;
    width: 90px;
    margin: 0;
}

.top a{
    margin-right: 5%;
    
}
/* .magnifying{
    width: 20px;
   position: absolute;
    margin-right: -500px;
    margin-top: 20px;
    border: 1px solid black; 
}*/
    

/* .top form{
    background-image: url('magnifying.png');
    background-size: 10px;
}
     */

main h1{
    margin: 0;
    font-size: 4em;
    color: #FFB238;
}




/* section 2 styles */
.second{
    /* add background here */
    background-image: url(/images/section2-burger.jpg);
    background-size: center;
    margin-bottom: 8%;
    background-repeat: no-repeat;
    background-position: 40% 80%;
    
    
}

.secondSection{

width: 40%;
margin: 5% auto 5% 50%;
padding-top: 5%;
padding-bottom: 3%;
}
.secondSection h2{
    font-size: 4em;
    color: #FFB238;
    margin: 0;
}
.secondSection p{
    font-size: 125%;
}
.secondSection button{
    margin-left: 1%;
    height: 2em;
    

}
    

    
    


/* section 3 styles */

.sectionThree{
    padding: 2%;
    text-align: center;
    list-style: none;
   margin-bottom: 8%;
   background: rgb(255,255,255);
   background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,220,157,1) 100%); 
}
.sectionThree h1{
    font-size: 3em;
    margin: 0;
    color: #FFB238;
}

.sectionThree .meals{
    list-style: none;
    margin-top: 1%;
    width: auto;
    display: flex;
    justify-content: space-around;
    
    
    
}

.sectionThree .meal a{
    font-size: 1.25rem;
    color: black;
}

.sectionThree .meal a:hover{
    text-decoration: underline;
}


/* WORK ON THIS WORK ON THIS WORK ON THIS */
.scroll{
   display: flex;
   justify-content: space-between;
   gap: 2%;
   overflow-x: auto; /* [2] */
   -webkit-overflow-scrolling: touch; /* [3] */
   -ms-overflow-style: -ms-autohiding-scrollbar;
   list-style: none;
} 

.item{
    width: 300px;
   height: 400px; 
 
}
/* section 4 styles */
.s4-container{
   
    width: 39%;
    margin: 5% 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.sectionFour{
    text-align: center;
    margin-bottom: 5%;
    
    background: url(/images/section4-burger.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sectionFour h1{
    font-size: 3em;
    color: #FFB238;
}
.sectionFour .fa-solid{
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 50px;
    
}
.phone span{
    display: block;
    padding: 1%;
}
.phone h3{
    font-family:'Noto Serif Display', sans-serif;
    font-size: 2.5em;
    margin: 0;
    color:rgba(255,134,0,255);
    margin-bottom: 1%;
}


.leftDate span, .rightDate span{
    font-size: 0.5em;
    
    margin-right: 17%;
}
.leftDate h4, .rightDate h4{
   
    margin-top: 1%;
}
.sectionFour img{
   height: 50%;
   width: 50%;
   padding-top: 5%;
  
}


/* section 5 styles */
.testimonials{
    text-align: center;
    padding: 3% 20%;
    margin-bottom: 2%;
    background: rgb(224,222,222);
    background: linear-gradient(90deg, rgba(224,222,222,1) 0%, rgba(255,255,255,1) 64%);
   
}
.testimonials h1{
    font-size: 3em;
    margin: 1% auto 4%;
    color: #FFB238;
}

.testimonials h4{
    font-size: 150%;
    margin: 0;
}
.testimonials img{
    width: 10%;
    border-radius: 100px;
    margin: 0;
}
.testimonials span{
    display: block;
}
.star{
display: inline-block;
object-fit: scale-down;

padding: 0;
margin: 0;
}
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
